html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

form{
  display: inline;
}

form button{
  background: transparent;
  padding: 0px;
  border: 0px;
}

form button i{
  color: #337ab7;
}

.my-btn{
  margin-bottom: 30px;
}

.my-btn.compl{
  padding-left: 15px;
}

/* ### HEADER ### */
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  color: #8dc63f;
  background-color: inherit;
}

.navbar-inverse .navbar-nav>li>a {
  color: #dad7d7;
}

.navbar{
  font-size: 14px;
  font-weight: 300;
  color: #FFF;
  border-color: black;
  box-shadow: 0 0 1px rgba(43, 43, 43, .5);
}

.navbar-inverse {
  background-color: #2b2b2b;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 14px 30px;
}

.head-title {
  padding: 30px 15px;
  text-align: center;
}

.my-username{
  text-transform: none;
}

/* ### CONTENT ### */

.table td:not(.task-title){
  text-align: center;
}

.task-title a{
  text-decoration: none;
}

table td:not(:nth-of-type(2)){
  width: 25px;
}

.task-title a{
  padding-left: 25px;
}

table td:nth-of-type(2){
  max-width: 100px;
}

.task-item-title{
  font-size: 20px;
  font-weight: 500;
  margin: 30px 10px 15px;
}

.created_at{
  color: #8ca79c;
  font-size: 12px;
  font-weight: 300;
  margin: 50px 0px 30px;
}

.no-tasks{
  color: #8dc63f;
  margin-top: 70px;
}

/* ### Contacts ### */

.map-frame{
  border: 4px solid rgb(204, 204, 204);
  width: 600px;
  height: 450px;
}

.map {
  text-align: center;
}

.info-item{
  margin-bottom: 10px;
}

.info-content{
  margin-bottom: 35px;
}

.myname:hover{
  text-decoration: none;
}

.email{
  color: #337ab7;
}


/* ### ABOUT ### */

.bg-img{
  position: relative;
  background: url("/img/bgimg.jpg") no-repeat center top/cover;
  height: 800px;
  opacity: 0.9;
  width: 100%;

/*Black-and-White transition affect*/
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.bg-img:hover {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
/*  */

.blend-img{
  position: absolute;
  background: url("/img/bg.png") repeat;
  top:0;
  left:0;
  width: 100%;
  height: 800px;
  z-index: -100;
}

.head-title.about {
  color: #dad7d7;;
}

.head-title p{
  margin-top: 30px;
}

/* ### MAIN PAGE ### */

.today{
  color: #8dc63f;
  font-size: 30px;
}

/* ### LOGIN/LOGOUT FIELDS ###*/

.panel.panel-default{
  margin-top: 50px;
}

/* ### FOOTER ### */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* The fixed height of the footer here */
  height: 100px;
  background-color: #2b2b2b;
  border-top: 1px solid #2b2b2b;
  box-shadow: 0 0 1px rgba(43, 43, 43, .5);
  color: rgba(255,255,255,0.3);
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.footer-text{
  color: rgba(255,255,255,0.6);
}

.footer-content{
  text-align: center;
  margin-top: 40px;
}

.smile{
  font-size: 15px;
}

/* ### MEDIA ### */

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .map-frame{
    width: 100%;
  }

}















